<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Web Address Book</display-name>
    <description>
        An address book which understands family structures and supports reordering entries.
    </description>
    
    <listener>
        <listener-class>org.zephyrsoft.wab.DatabaseManagerContextListener</listener-class>
    </listener>
    
    
    <servlet>
      <servlet-name>AddressBookServlet</servlet-name>
      <servlet-class>org.zephyrsoft.wab.AddressBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>AddressBookServlet</servlet-name>
      <url-pattern>/app</url-pattern>
    </servlet-mapping>
    
    <session-config>
      <session-timeout>60</session-timeout>
    </session-config>
    
</web-app>
